{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		
	</style>
</head>
<body>
	

	    <div class="jumbotron" style="background-image: url('{{ asset('/uploads/home/' ~ latestHome.image) }}'); background-size: 75% auto; background-position: center; background-repeat: no-repeat; color: white; text-align: center; padding: 200px 0; margin-right: 10%;">

	</div>

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_edit_home') }}" class="btn btn-primary">Modifier</a>
	{% endif %}

    </body>

{% endblock %}
