{% extends 'base.html.twig' %}

{% block title %}
	Services de
	{{ services[0].rubrique.name }}
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>{{ services[0].rubrique.name }}</h1>
		<p class="size mb-4">ECRITURE</p>
	</div>

	<div class="row justify-content-center">
		{% for service in services %}
			<div class="col-lg-4 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ service.titre|raw }}</h5>
						<p class="card-text">{{ service.description|raw }}</p>
					</div>
				</div>
			</div>
			{% if loop.index % 3 == 0 %}
			</div>
			<div class="row justify-content-center">
			{% endif %}
		{% endfor %}
	</div>

	<style>
		.size {
			font-size: 1.5rem;

		}
	.card{
        border: none;
    }
	</style>
{% endblock %}
