{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}


<div class="contenu-image">
    <img src="image-eric-pichon.jpg" alt="Eric Pichon">
    <div class="texte-image">
      <h2>Eric Pichon</h2>
      <p>Pédagogue et passionné, j'ai été initialement formé à la culture anglophone, et j'ai séjourné pendant huit ans au Royaume-Uni. De retour en France, je décide changer de vie pour me consacrer à la musique. Depuis 2015 je suis professeur de Formation Musicale à l'Ecole de Musique de Mougins.</p>
      <p>J'ai chanté dans différents ensembles, et sous la direction de chefs comme Alain Joutard, Nadine Kasapyan et Florence Daly.</p>
      <p>Je me suis formé depuis 2009, en obtenant une Licence de Musicologie à l'Université de Nice en 2012, puis 3 DEM au CRD de Cannes, en Composition, en Ecriture sous la direction de Mary bel Dessagnes, puis en Direction de Chœur avec Florence Daly, dont je deviens devient l'assistant en 2021.</p>
      <p>J'ai dirigé plusieurs ensembles, notamment le chœur adulte du Conservatoire de Cannes, et Unisson@alrose de Nice en codirection avec Evelyne Dubosq.</p>
      <p>Depuis 2021 je dirige le chœur Arioso de Peymeinade et je donne régulièrement des cours en coaching vocal.</p>
      <p>Je compose des œuvres originales, j'écris des arrangements visant un but pédagogique, pour les choristes, ou à la demande de certains chefs de chœur.</p>
    </div>
  </div>



  <style>


.contenu-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 800px;
}

.contenu-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.texte-image {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: justify;
}

.texte-image h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.texte-image p {
  font-size: 16px;
  line-height: 1.5;
}


  </style>
{% endblock %}
