{% extends 'base.html.twig' %}

{% block title %}
    Hello PresentationController!
{% endblock %}

{% block body %}
    <div class="contenu-image">
        <div class="d-flex align-items-start">
            <div class="">
                <img src="{{ asset('/uploads/presentations/' ~ latestPresentation.image) }}" class="" alt="{{ latestPresentation.name }}" style="width: 150px; height: 150px; object-fit: cover;">
            </div>
            <div>
                <div class="texte-image">
                    <h2>{{ latestPresentation.name }}</h2>
                    <p style="font-size: 20px;">{{ latestPresentation.presentation|raw }}</p>
                </div>
            </div>
        </div>
    </div>

    <style>
        .contenu-image {
            margin: 20px auto;
            max-width: 950px;
        }

        .texte-image {
            padding-left: 50px;
            background-color: white;
            border-radius: 10px;
            text-align: justify;
        }

        .texte-image h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .texte-image p {
            font-size: 100px;
            line-height: 1.5;
        }
    </style>
{% endblock %}
